body {
	color:black;
}
table {
	border-collapse:collapse;
}

th {
	font-size:30px;
	background-color:black;
	color:white;
}
tr {
	font-size:20px;
}

h1 {
	font-size:40px;
	text-align:center;
}

.header {
	cursor:pointer
}
.hiddenRow {
    padding: 0 !important;
}
.collapse div{
	width:83%;
	float:left;
	text-align: right;
}

.collapse div.pointswidth{
	width:100%;
	float:left;
	text-align: left;
}

::-webkit-input-placeholder {
   color: black;
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
   text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black; 
   text-align:center; 
}

:-ms-input-placeholder {  
   color: black;  
   text-align:center;
}

#tablebody input {
	width:40px;
}

#tablebody tr:first-child {
	width:100px;
}

#updatepoints tr {
	font-size:15px;
}
#updatepoints th {
	font-size:15px;
}

@media (max-width: 1200px) {
	table {
		table-layout:fixed;
	}
	table tr { 
		height:1em;  
	}
	td { 
		overflow:hidden;white-space:nowrap;  
	}
	.table-responsive {
		overflow-x: hidden;
	}
}

@media (max-width: 744px) {
	.header {
		font-size:20px;
	}
	tbody tr td {
		font-size: 15px;
	}
}

@media (max-width: 500px) {
	.header {
		font-size:18px;
	}
	tbody tr td {
		font-size: 15px;
	}
}

@media (max-width: 479px) {
	.header {
		font-size:15px;
	}
	tbody tr td {
		font-size: 12px;
	}
	
}

@media (max-width: 385px) {
	.header {
		font-size:12px;
	}
	tbody tr td {
		font-size: 10px;
	}
}


